body {
  max-width: 700px;
  margin: 2rem auto;
  font-family: Arial, sans-serif;
  background: #fafafa;
  color: #222;
}
nav {
  margin-bottom: 1rem;
}
nav a {
  margin-right: 1rem;
  text-decoration: none;
  color: ##171c14;
}
header {
  margin-bottom: 2rem;
}
footer {
  margin-top: 2rem;
  font-size: 0.95em;
  color: #4b5f43;
}
