body {
  max-width: 700px;
  margin: 2rem auto;
  padding: 0 1rem;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #000000;
  color: #4b5f43;
  border: 2px;
}

nav a:hover {
  color: #9eb594;
}

p {
  border: 2px
  color: #9eb594;
}
